# Data Science Tools and Ecosystem

**Objectives:**
* Popular languages that Data Scientists
* Libraries used by Data Scientists
* Data Science Tools
* Simple arithmetic expression

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. julia
2. R
3. RStudio
4. SQL (Structure Query Language)

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch
4. Matplotlib
5. TensorFlow

|Data Science Tools|
|-------|
| Apache Hadoop |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
## This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Ibrahim Abdullah Alturki